body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 18px;
	line-height: 27px;
	color: #333333;
}

h1, h2 {
    font-family: "American Typewriter", "Courier New", monospace;
	letter-spacing: 0.05em;
	color: #1673D0;
	font-weight: 400;
    line-height: 1.2em; /* 48px / 40px */
    margin-bottom: .4em;/* 16px / 40px */
    margin-top: .4em; /* 16px / 40px */
}

h1 {
	font-size: 1.8em;
}

h2 {
	font-size: 1.5em;
}

.wy-side-nav-search, .wy-nav-top {
	background: #00507D;
}

ul, li {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 0.93em;
	line-height: 27px;
	color: #333333;
}

code,
pre {
  padding: 4px 6px 4px 6px;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 0.93em;
  line-height: 21px;
  color: #333333;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

code {
  padding: 2px 4px;
  color: #d14;
  border: 1px solid #e1e1e8;
}

footer {
	padding-top: 2.0em;
	border-top: 1px solid #e1e1e8;
	font-size: 0.8em;
}

